<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})" >
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
		<div class="card1">
			<div class="cardbody">
				<h1 class="text-center">Add Contact</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<form action="#"
							th:object="${contact}"
							method="POST"
							enctype="multipart/form-data"
							th:action="@{/user/process-contact}"
							class="mt-2"
							>
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text mr-3">
										<i class="fa fa-plus"></i>
									</div>
								</div>
								<input required type="text" name="name" placeholder="Enter First Name" id="firstname"  class="form-control"/>
							</div>
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text mr-3">
										<i class="fa fa-plus"></i>
									</div>
								</div>
								<input  type="text" name="secondName" placeholder="Enter Second Name" id="secondname"  class="form-control"/>
							</div>
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text mr-3">
										<i class="fa fa-plus"></i>
									</div>
								</div>
								<input required type="email" name="email" placeholder="Enter Email" id="email"  class="form-control"/>
							</div>
							
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text mr-3">
										<i class="fa fa-phone"></i>
									</div>
								</div>
								<input required min=10  type="number" name="phone" placeholder="Enter phone Number" id="phone"  class="form-control"/>
							</div>
							
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text mr-3">
										<i class="fa fa-briefcase"></i>
									</div>
								</div>
								<input required type="text" name="work" placeholder="Enter work here" id="work"  class="form-control"/>
							</div>
							
							<div class="form-group">
								<textarea name="description" placeholder="Enter Contact Description" id="description" rows="10" cols="50" ></textarea>
							</div>
							
							<div class="custom-file">
								<input type="file" name="picture">
							</div>
							
							<div class="container text-center">
							<button class="btn btn-outline-primary">Save Contact</button>
							</div>
							
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>